@import "tailwindcss";

@theme {
    --color-bg: #1f1f1f;
    --color-bg-sub: #181818;
    --color-border: #2b2b2b;
    --color-text: #cccccc;
    --color-primary: #569cd6;

    /* 英語はmono、日本語はnotoにフォールバックしてあげる*/
    --font-base: var(--font-jetBrainsMono), var(--font-notoSans), monospace;
}