@import "tailwindcss";

@theme {
  --color-bg: #1f1f1f;
  --color-bg-sub: #181818;
  --color-bg-accent: #333333;
  --color-selection: #04395e;
  --color-border: #2b2b2b;
  --color-focus: #0078d4;
  --color-text: #cccccc;
  --color-supplement: #a9a9a9;
  --color-primary: #569cd6;

  /* 英語はmono、日本語はnotoにフォールバックしてあげる*/
  --font-base: var(--font-jetBrainsMono), var(--font-notoSans), monospace;
}

@utility text-heading {
  font-size: clamp(2rem, 1.5rem + 2vw, 3rem);
  letter-spacing: -0.1rem;
}

@utility heading-section {
  margin-bottom: -1rem;
}

@utility text-subHeading {
  font-size: clamp(1.5rem, 1.5rem + 0.5vw, 2.0rem);
  letter-spacing: -0.1rem;
}

/* サイドバーの見出し */
@utility text-toc {
  font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
  letter-spacing: -0.1rem;
}

@utility text-description {
  font-size: clamp(1rem, 1rem + 0.5vw, 1.7rem);
  letter-spacing: -0.1rem;
}
